body{background-color: rgb(122, 28, 75);}

input{
  margin: 20px;
  width: 200px;
}
label{
  padding: 20px;
 
}
.container{
  background-color: grey;
  max-width: 400px;
  margin: auto;
  height: 300px;
  border-radius: 10px;
}
.btn{
  display: flex;
  margin: auto;
  background-color: blue;
  width: 100px;
  height: 5vh;
  border: none;
  color: #fff;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
